
p, .header, body{
  margin: 0;
  padding: 0;
  border: 0;
}



.banner {
  background-image: url("araucaria.png");
  object-fit: cover;
  min-height: 500px; 
  height: 800px; 
} 

.image-text {
  line-height: 120px;
  color: white;
  font-family: "Josefin Sans", serif;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  font-size: 64px;
  text-align: center;
  margin: 0;   
}
